@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif !important;
}

body {
    width: 2000px;
    color: #333;
}

a:link {
    text-decoration: none;
    color : #333;
}
a:visited {
    text-decoration: none;
    color : #333;
}
a:hover {
    text-decoration: none;
    color : #333;
}