<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename = './css/common.css') }}">
    -->
    <!-- 서버 전 테스트 용도 link rel -->
    <link rel="stylesheet" href="../static/css/common.css">
    <title>돌즈마트</title>
</head>

<body>
    <div class='wrap'>
        <!-- 해드 (로고, 로그인 회원가입 장바구니 마이페이지 등)-->
        <div class="header">
            <div class="util_bar -frame">
                <ul class="util">
                    <li>
                        <a href="/">
                            로그인
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            회원가입
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            장바구니
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            마이페이지
                        </a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a href="/">
                    <img>
                </a>
            </div>
        </div>

        <!-- NAV -->
        <nav>
            <div class="inner_nav -frame">
                <ul></ul>
            </div>
        </nav>

        <!-- 메인 슬라이드 -->
        <div class="main_slide">
            <ul></ul>
        </div>

        <!-- 베스트셀러 - 슬라이드 -->
        <div class="bestseller">
            <ul></ul>
        </div>
        
        <!-- 대표 상품 - MD's PICK -->
        <div class="md_pick -frame">
            <ul></ul>
        </div>

    </div>
</body>

</html>